*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
body {
  margin: 0;
  background: url("/static/images/bg.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Orbitron', sans-serif;
}
