*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body {
    height: 100%;
    width: 100%;
}
body {
  margin: 0;
  background: url("/static/images/bg.png") no-repeat center center fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Orbitron', sans-serif;
}
.index-page {
  margin: 0;
  height: 100vh;
  font-family: 'Orbitron', sans-serif;

  background: radial-gradient(circle at top left, #1a0000, #000000 60%), 
  linear-gradient(to right, #000000, #2e0000, #5a0000, #8b0000, #300000);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 10px #FF1A1A;

}
.main-heading h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  z-index: 1;
}

.logo {
  z-index: 999;
}


.container1{
   
    width: 32%;
    margin-top: 2%;
    margin-left: 60%;
    background: linear-gradient(145deg, rgba(255, 0, 0, 0.15), rgba(0, 0, 0, 0.15));
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
  }
  
  .container1 h2 {
    text-align: center;
    color: #ef2e2e;
    margin-bottom: 20px;
    font-weight:1400;
  }
  
  .container1 label {
    display: block;
    color: whitesmoke;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .container1 input[type="text"],
  .container1 input[type="email"],
  .container1 input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #3f0463;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .container1 button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #c40000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .container1 button:hover {
    background-color: #5a0202;
  }
.footer-text {
  text-align: center;
  color: rgb(255, 16, 16);
  margin-top: 20px;
}

.footer-text a {
  color: #ffffff;
}
.login-link {
  text-decoration: none;
  color: white;
}


