{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
</head>
<body class="index-page">
    <div class="logo" style="position:absolute; top: 20px; left: 20px;">
        <img src="{% static 'images/devil_logo.png' %}" alt="logo" style="width: 80px; height: auto;">
    </div>

    <div class="main-heading">
        {% if request.user.is_authenticated %}
        <h1>Welcome, {{request.user.username}}</h1>
        {% endif %}
    </div>
</body>

</html>