{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="{% static 'images/style.css' %}">
</head>

<body class="index-page">
    <a class="logout-btn" href="/">Logout</a>

    <div class="logo" id="devilLogo" style="position:absolute; top: 20px; left: 20px;">
        <img src="{% static 'images/devil_logo.png' %}" alt="logo" style="width: 80px; height: auto;">
    </div>
    <audio id="devilSound" preload="auto">
        <source src="{% static 'sounds/devil-laugh.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <div class="main-heading">
        {% if request.user.is_authenticated %}
        <h1 id="welcome-heading" data-username="{{ request.user.first_name|default:request.user.username }}">
            
            Welcome, {{ request.user.username }}
        </h1>

        {% endif %}
    </div>
    <div class="chat-input-area">
        <input type="text" placeholder="Write your curses...." id="user-input">
        <button id="killer-send-button">Fire It</button>
        <img src="static/images/logo1.img.png" alt="">
    </div>
      
    <script src="{% static 'images/script.js' %}"></script>


</body>

</html>